/*Variables*/

$black_color: #1a1410;
$black_colorish: #0B0F12;
$blueish_color: #7fe5f0;  /*njit*/
$grey_color: #c0c0c0; /*hccc*/
$greyish_color: #e4ddce;
$light_blue_color: #d5e5ff; /*njit*/
$light_green_color: #f5ffe4; /*msu*/
$orange_color: #fb9214;
$yellow_color: #ffd700;
$white_color: #fff;
$off_grey_color: #e9ecef;

$h1-header: 2.5rem;
$h2-header: 2rem;
$h3-header: 1.75rem;
$h4-header: 1.5rem;
$h5-header: 1.25rem;
$h6-header: 1rem;
