.profile-pic-div img{
  width: 200px;
  border-radius: 20%;
}
.profile-pic-div,
.intro-text-div {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100%;
  border:1px solid #ddd;
  padding: 20px;

}
.intro-text-div *{
  line-height: 30px;
}


.about-me-div .div-underline{
  width: 140px;
}
.projects-div .div-underline{
  width: 120px;
}
.skills-div .div-underline{
  width: 215px;
}
.languages-div .div-underline{
  width: 270px;
}

.div-underline{
  height: 10px;
  border: 1px solid #000;
  background: #ddd;
  margin-top: -5px;
  margin-bottom: 20px;
}


.skills-ul{
  list-style: none;
  padding-left: 0;
}

.skills-ul h4{
  margin-bottom:0;
}
.project-list-div a{
  margin-right: 10px;
  margin-bottom:10px;
}
